/*-------------------------------------------------
    [ ## Overlay Element ]
*/
.bg_img {
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat !important; 
}
.bg-fixed {
	background-attachment: fixed;
}
.vendor-bg{
  background-size: cover;
    background-position: top !important;
    background-repeat: no-repeat !important;
}
.bg-overlay-base {
  position: relative;
  z-index: 2;
}
.bg-overlay-base:after {
  content: "";
    position: absolute;
    background-color: #ffffff;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
  .bg-overlay-banner {
    position: relative;
    z-index: 2;
  }
  .bg-overlay-banner:after {
    content: "";
      position: absolute;
      background-color: #ffffff;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
  }
}


.bg-overlay-vendor {
  position: relative;
  z-index: 2;
}
.bg-overlay-vendor:after {
  content: "";
    position: absolute;
    background-color: #ffffff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    @media only screen and (max-width: 991px) {
      opacity: 0.7;
    }
}

.bg-overlay-account {
  position: relative;
  z-index: 2;
}
.bg-overlay-account:after {
  content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bg-overlay-footer {
  position: relative;
  z-index: 2;
}
.bg-overlay-footer:after {
  content: "";
    position: absolute;
    background-color: #ffffff;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bg-overlay-card {
  position: relative;
  z-index: 2;
}

.bg-overlay-card:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}