
::selection{
    background-color: #203499;
    color: #ffffff;
}
/*-------------------------------------------------
    [ ## scrollToTop ]
*/
.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 35px;
  height: 35px;
  padding: 7px;
  line-height: 1;
  font-weight: 600;
  background: $base--color;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(-50000%);
          transform: translateY(-50000%);
}
.scrollToTop small {
  display: block;
  text-transform: uppercase;
  font-size: 8px;
}
.scrollToTop.active {
  bottom: 30px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*-------------------------------------------------
  [ ## Header ]
*/
.header-section{
  position: absolute;
  width: 100%;
  z-index: 9;
}
    .header-area{
        color: $white;
        display: flex;
        @media only screen and (max-width: 570px) {
            display: block;
        }
    }
    .social-icons{
        li{
            padding: 0px 10px;
        }
    }
    .contact{
        .item{
            padding: 0px 10px;
            font-size: 16px;
        }
    }

.navber-section{
     background-color: $white; 
     .search input{
        padding: 10px;
        border-radius: 60px;
        margin-top: 5px;
        border: 1px solid $border--base;
        width: 200px;
        height: 40px;
        font-size: 16px;
        &::placeholder{
            color: rgba($white, 0.05);
            font-size: 14px;
        }
    }
    .search button{
        padding: 5px 15px;   
        border-radius: 50px;
        margin-left: 5px;
        margin-top: 5px;
        color: $white;
        background-color: $base--color;
    }
    .search button:hover{
        background-color: $base--color;
        transition: all 0.6s;
    }
}

.header {
    background-color: transparent;
    width: 100%;
    z-index: 9;
}
.header-section.header-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: transparent;
  margin-top: 0;
  animation-fill-mode: initial;
  .header-top-area{
      display: none !important;
  }
  .header-bottom-area{
    background-color: $section--bg;
    border-bottom: 1px solid #efefef;
  }
}
.header-bottom-area{
    position: relative;
    background: $section--bg;
    border-bottom: 1px solid #f0f0f0;
    @media only screen and (max-width: 1199px) {
        background-color: #ededed;
        padding: 10px;
    }
    .navbar-expand-lg{
        background-color: transparent;
    }
    @media (max-width: 1199px) {
        .navbar-collapse{
            background-color: transparent !important;
            padding: 0 !important;
        }
        .navbar-collapse .main-menu {
            padding: 15px 0;
        }
        .menu_has_children .sub-menu {
            display: none !important;
            li{
                width: 100%;
            }
        }
        .navbar-collapse .main-menu .menu_has_children.show .sub-menu ,
        .navbar-collapse .main-menu .menu_has_children.show .sub-menu {
            display: flex !important;
            flex-wrap: wrap;
        }
    }
    .navbar-collapse .main-menu li:last-child .sub-menu {
        left: auto;
        right: 0;
    }
    .navbar-collapse .main-menu{
        align-items: center;
        @media only screen and (max-width: 1199px) {
            align-items: flex-start;
        }
    }
    .navbar-collapse .main-menu li {
        position: relative;
        padding-right: 20px;
        @media only screen and (max-width:1199px) {
            padding-right: 15px !important;
        }
        &:last-child{
            padding-right: 0;
            margin-right: 0;
        }
        &:hover .sub-menu{
            transform: scaleY(1);
        }
    }
    .navbar-collapse .main-menu li.menu_has_children {
        position: relative;
        i{
            font-size: 12px;
            margin-left: 5px;
        }
    }
    @media (max-width: 991px) {
        .navbar-collapse .main-menu li.menu_has_children::before {
            top: 12px;
            right: 15px;
        }
    }
    .navbar-collapse .main-menu li a {
        position: relative;
        padding: 22px 0;
        font-weight: 600;
        font-size: 16px !important;
        align-items: center;
        color: $color--heading;
        display: inline-block;
        font-size: 15px;
        transition: all 0.5s;
        z-index: 9;
        @media only screen and (max-width: 1199px) {
          font-size: 14px !important;
        }
        &::after{
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $base--color;
            transition: all 0.5s;
        }
        &:hover{
            background: $base--color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::after{
                width: 100%;
            }
        }
        &.active{
            background: $base--color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::after{
                width: 100%;
            }
        }
    }
    
    @media (max-width: 1199px) {
        .navbar-collapse .main-menu li a {
            padding: 12px 15px !important;
        }
    }
    .navbar-collapse .main-menu li .sub-menu {
        position: absolute;
        top: 60px;
        left: 0px;
        padding: 10px 5px;
        width: 180px;
        background-color: $section--bg;
        border: 1px solid $border--base;
        border-radius: 15px;
        display: block;
        transform: scaleY(0);
        transform-origin: top left;
        transition: all 0.5s;
        z-index: 10;
        @media only screen and (max-width: 1199px) {
            width: 180px;
        }
        li{
            margin-right: 0;
            padding-right: 0;
            transition: all ease 0.5s;
            position: relative;
            z-index: 2;
            &:last-child {
                border-bottom: 0px solid;
            }
            &:hover{
                a{
                    color: $base--color;
                }
            }
            a {
                width: 100%;
                font-size: 12px;
                padding: 5px 15px;
                display: block;
                transition: all ease 0.3s;
                &::before{
                    display: none;
                }
                
            }
        }
    }
    @media (max-width: 1199px) {
        .navbar-collapse .main-menu li .sub-menu {
            position: initial;
            opacity: 1;
            visibility: visible;
            display: none;
            -webkit-transition: none;
            transition: none;
        }
    }
    .navbar-collapse .main-menu li:last-child .sub-menu {
        left: auto;
        right: 0;
    }
}
.site-logo{
    max-width: 150px;
    @media only screen and (max-width: 1199px) {
        max-width: 130px;
    }
}
.header-action{
    margin-left: 40px;
    @media only screen and (max-width: 1199px) {
        margin-left: 12px;
    }
    a{
        display: flex;
        @media only screen and (max-width: 1199px) {
                display: inline-block;
            }
    }
}
.language-select{
    background: transparent;
    color: $white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
    width: 125px;
    @media only screen and (max-width: 1199px) {
        margin-left: 12px;
        margin-bottom: 30px;
    }
    .nice-select{
        height: 45px !important;
        line-height: 45px !important;
        .list{
            height: auto;
        }
    }
}
.header-link{
    @media only screen and (max-width: 1199px) {
        display: none;
    }
    a{
        color: $white;
        i{
            color: $base--color;
            margin-right: 5px;
            font-size: 16px;
        }
    }
    a+a{
        margin-left: 20px;
    }
}
.header-social{
    li{
      display: inline-block;
      font-size: 13px;
      color: $white;
    }
    li + li{
      margin-left: 15px;
    }
}
.notification-icon{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($white, 0.05);
    color: $color--text;
    border: 1px solid $border--base;
    border-radius: 10px;
    font-size: 20px;
    i{
      color: $base--color;
    }
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: $base--color;
    color: $white;
    font-size: 14px;
    border: 1px solid #757575ee;
}


.show_hide_password{
  position: relative;
  .show-pass{
      position: absolute;
      top: 10px;
      right: 30px;
      font-size: 14px;
      cursor: pointer;
      &.two{
          top: 50px;
      }
  }
}
.account-form{
    .show_hide_password{
        position: relative;
        .show-pass{
            position: absolute;
            top: 14px;
            right: 30px;
            font-size: 14px;
        }
    }
    .show_hide_password-2{
       position: relative;
       .show-pass{
        position: absolute;
        top: 14px;
        right: 30px;
        font-size: 14px;
       }
    }
}
.forgot-password-content{
    p{
        font-size: 13px;
    }
}
.register-form-input{
    padding-top: 20px;
}

.account-select-item{
    .account-type{
        .list{
            height: auto;
            overflow-y: auto !important;
            border: 1px solid #ffffff6f;
        }
    }
}