.testimonial-section {
	overflow: hidden;
  }
  .testimonial-section .client-img{
	 .img-1{
		width: 70px;
		height: 70px;
	 }
  }
  
  .testimonial-section .client-img img {
	object-fit: cover;
	border-radius: 50%;
  }
  
  @media (min-width: 1320px) {
	.testimonial-section .container {
	  padding-right: calc((100vw - 1176px) / 2);
	  max-width: calc(1320px + (100vw - 1320px) / 2);
	  left: calc((100vw - 1320px) / 4);
	  position: relative;
	  overflow: hidden;
	}
  }
  .testimonial-slider .swiper-android .swiper-slide, .testimonial-slider .swiper-wrapper {
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
  }
  
  .testimonial-wrapper {
	padding: 40px;
	background-color: $section--bg;
	box-shadow: $shadow--color;
	border-right: 3px solid $border--base;
	border-radius: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	@media only screen and (max-width: 520px) {
		padding: 15px;
	  }
  }
  
  .testimonial-wrapper .client-details {
	width: 100%;
	.client-img{
		width: 70px;
		height: 70px;
	}
  }
  
  .testimonial-wrapper .client-details img {
	object-fit: cover;
	border-radius: 50%;
  }
  
  .testimonial-wrapper .client-details p {
	font-size: 14px;
	margin: 0px;
	color: $white !important;
  }
  
  .testimonial-thumb {
	position: relative;
	width: 168px;
  }
  
  .testimonial-thumb img {
	border-radius: 1.25rem;
  }
  
  .testimonial-thumb .testimonial-quote {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 60px;
	height: 60px;
	line-height: 50px;
	background-color: $base--color;
	border: 5px solid $border--base;
	border-radius: 50%;
	text-align: center;
  }
  
  .testimonial-thumb .testimonial-quote .fill-white {
	fill: #ffffff;
  }
  
  .testimonial-section {
	margin-left: 30px;
  }
  
  @media only screen and (max-width: 991px) {
	.testimonial-section {
	  width: 100%;
	  padding-left: 0;
	}
  }
  .testimonial-section .testimonial-ratings {
	margin-bottom: 15px;
  }
  
  .testimonial-section .testimonial-ratings i {
	    background: $base--color;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
  }
  
  
  .testimonial-section .testimonial-user-content .title span {
	    background: $base--color;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
  }
  .testimonial-wrapper{
	&::after{
		content: "";
		position: absolute;
		top: -4px;
		left: -17px;
		border-top: 25px solid #2744d3;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		transform: rotate(135deg);
	}
	&::before{
		content: "";
		position: absolute;
		bottom: -4px;
		left: -17px;
		border-top: 25px solid #2744d3;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		transform: rotate(45deg);
	}
  }